@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
}

h1,
.red,
.yellow {
  text-align: center;
}

.red,
.yellow {
  font-size: 1.5rem;
}

.red span {
  color: red;
}

.yellow span {
  color: yellow;
}

.board {
  width: 100%;
  max-width: 610px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5%;
  margin-top: 1.3rem;
}

.col {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.5%;
  padding: 0.44rem;
  background-color: blue;
  border-radius: 0.3rem;
}

.col:hover {
  background-color: #7474ef;
}

.cr {
  width: 100%;
  aspect-ratio: 1;
  /*
  aspect-ratio: 1;: This sets a 1:1 aspect ratio, meaning the width and height of the .cr element are always equal. This ensures that the circles remain perfect circles regardless of the screen size or container size.
  */
  background-color: #fff;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cr:hover {
  cursor: pointer;
}

.red-cr {
  background-color: red;
}

.y-cr {
  background-color: yellow;
}

.d-n {
  display: none;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .board {
    width: 90%;
  }

  .red,
  .yellow {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .board {
    width: 100%;
  }

  .red,
  .yellow {
    font-size: 1rem;
  }
}
